{% extends 'base.html' %}

{% block content %}
<main class="container py-5" >
    <section class="card card-body">

        <h1 class="display-1 text-center">Task Manager</h1>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex sed debitis iure natus ducimus ipsa quae voluptates commodi
        ipsum? Doloremque assumenda culpa voluptate iusto soluta. Autem nam quam, totam, assumenda, quo fuga consectetur magnam
        atque in ipsum eum error quia. Nulla temporibus porro inventore. Tempore quidem voluptatem, ipsam repellat laborum, sit
        similique suscipit, sunt accusamus earum est itaque consequatur animi ex voluptatibus? Molestiae eum commodi sunt odit,
        repellendus officia corporis in dignissimos maiores aperiam aliquam omnis nemo quae? Iste ut voluptas, totam veniam
        cumque nihil, enim animi incidunt aliquam ex eum. Sit totam architecto dicta quas nihil, earum eius numquam.

        <div class= "text-center">
            <a class="btn btn-secundary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}